.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  margin: auto;
  background: white;
  padding: 30px;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal > h1 {
  margin-bottom: 5px;
}