<div class='masthead'>
  <div class="language-nav">
    <a>CSS</a>
    <a>HTML</a>
    <a>Javascript</a>
    <a>Ruby</a>
  </div>

  <div class='logo'>
  <img src="assets/AA_Times_Logo.png" alt="AA logo" />
  </div>

  <div class="masthead-links">
    <time>Tuesday, October 18, 2016</time>
    <a><i class="far fa-newspaper"></i>Today’s Paper</a>
    <a><i class="fas fa-video"></i>Video</a>
    <button>77°F</button>
    <button>AAO <strong>+100%</strong></button>
  <div>

</div>