<h1>Create a New User<h1>

<form action= "<%= users_url %>" method="post">
    <input type="hidden" name="_method" value="<%= :post %>">

    <label for="username">User Name:</label>
    <input type="text" name="user[username]" id="username" value="<%= @user.username %>">
    
    
    <label for="password">Password: 
    <input id="password" name="user[password]" type="password" value="<%= @user.password %>">
    </label>

    <input type="submit" value="Create User">
</form>